* {
  font-family: "Roboto", sans-serif;
}

body,
html {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.img {
  height: 100%;
  opacity: 0.6;
  filter: contrast(55%);
  background-image: url("resumeimg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-text {
  height: 100%;
  position: inherit;
  z-index: 2;
}
nav {
  width: 100%;
  height: 10%;
  position: absolute;
  top: -95%;
  background-color: transparent;
}

nav ul {
  margin-right: 3.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  font-weight: 400;
}
nav ul li:hover {
  color: #5daa68;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.text {
  position: absolute;
  font-size: 2.6rem;
  color: #000;
  top: -65%;
  left: 15%;
  display: flex;
  filter: contrast(70%);
  flex-direction: row;
}
.btn-style {
  margin-left: 10rem;
  position: absolute;
  top: 30%;
  width: 7rem;
  height: 3rem;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #3c8d97;
  color: #ffffff;
  border-radius: 1.7rem;
  box-shadow: 3px 5px 4px rgba(167, 152, 152, 0.5);
  border: none;
}

.btn-style:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  transition: 0.3s ease-out;
}
